# Бинарные файлы программ и плагинов
*.exe
*.exe~
*.dll
*.so
*.dylib
xray-health-exporter

# Тестовые бинарники, собранные с помощью `go test -c`
*.test

# Профили покрытия кода и другие тестовые артефакты
*.out
coverage.*
*.coverprofile
profile.cov

# Директории зависимостей
# vendor/

# Файлы Go workspace
go.work
go.work.sum

# Конфигурационный файл с секретами (не включать в образ)
config.yaml

# Редакторы/IDE
# .idea/
# .vscode/

# Прочее
.dockerignore
.git
.github
.gitignore
.gitleaksignore
.pre-commit-config.yaml
Dockerfile
LICENSE
README.md
Taskfile.yml
config.example.yaml
main_test.go
