# Бинарные файлы программ и плагинов
*.exe
*.exe~
*.dll
*.so
*.dylib
xray-health-exporter

# Тестовые бинарники, собранные с помощью `go test -c`
*.test

# Профили покрытия кода и другие тестовые артефакты
*.out
coverage.*
*.coverprofile
profile.cov
coverage_report.md

# Директории зависимостей
# vendor/

# Файлы Go workspace
go.work
go.work.sum

# Конфигурационный файл с секретами (используйте config.example.yaml как шаблон)
config.yaml

# Редакторы/IDE
# .idea/
# .vscode/
