repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: go fmt
        args: ['./...']
        language: system
        pass_filenames: false

      - id: go-test
        name: go test
        entry: go test
        args: ['-v', './...']
        language: system
        pass_filenames: false

      - id: go-build
        name: go build
        entry: go build
        args: ['-o', '/dev/null', '.']
        language: system
        pass_filenames: false
